main{
    width: 100%;
    display: flex;
    justify-content: center;
}

table{
    width: 90%;
    border: 1px solid black;
    border-collapse: collapse;
}


tbody{
    text-align: center;
}

td{
    height: 40px;
    border: 1px solid black;
    border-collapse: collapse;
}

iframe{
    width: 40%;
    height: 10rem;
    border: none;
}

th{
    border: 1px solid black;
    border-collapse: collapse;
}

.contenedor_principal{
    margin-left: 50px;
}

.ult{
    margin-left: 50px;
}
